<launch>

    <arg name="onlyForGazebo" default="true"/>

    <arg name="vehicleHeight" default="0.75"/>
    <arg name="cameraOffsetZ" default="0"/>
    <arg name="vehicleX" default="0"/>
    <arg name="vehicleY" default="0"/>
    <arg name="terrainZ" default="0"/>
    <arg name="vehicleYaw" default="0"/>
    <arg name="gazebo_gui" default="true"/>
    <arg name="checkTerrainConn" default="false"/>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="world_name" default="indoor"/>
  
  
    <!-- <include file="$(find ps3joy)/launch/ps3.launch" /> -->
  
    <include file="$(find local_planner)/launch/local_planner.launch" >
      <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
      <arg name="goalX" value="$(arg vehicleX)"/>
      <arg name="goalY" value="$(arg vehicleY)"/>
    </include>
  
    <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />
  
    <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" >
      <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
    </include>
  
    <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation.launch" />
  
    <!-- remap the state estimation and registered scan from SLAM module -->
    <include file="$(find loam_interface)/launch/loam_interface.launch" />


    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="world_name" value="$(find vehicle_simulator)/world/$(arg world_name).world"/>
      </include>


    <!-- Read robot description urdf file -->
    <param name="robot_description" command="$(find xacro)/xacro $(find p2os_urdf)/defs/pioneer3at.xacro" />
    <!-- Include robot model in gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description -x $(arg vehicleX) -y $(arg vehicleY) -Y $(arg vehicleYaw)"  />
    <!-- Joint state publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/>
  
  </launch>
  