<launch>
    <!-- Must set robot_number as global parameter!! -->
    <param name="robot_number" value="6"/>

    <!-- Gazebo simulator -->
    <include file="$(find p2os_urdf)/launch/run_six_navigation.launch" >
        <arg name="world_name" default="larger_garage"/>
        <arg name="gazebo_gui" default="true"/>
    </include>


    <!-- Robot 1 -->
    <!-- Autonomous exploration development environment -->
    <include file="$(find vehicle_simulator)/launch/develop_environment.launch" >
        <arg name="name_space" default="robot_1"/>
        <!-- Necessary to set initial goal point for local planner -->
        <!-- robot will not subscribe this command, so it is not important -->
        <arg name="vehicleX" default="0"/>
        <arg name="vehicleY" default="0"/>
    </include>

    <!-- far_planner -->
    <include file="$(find far_planner)/launch/far_planner.launch">
        <arg name="name_space" default="robot_1"/>
    </include>


    <!-- Robot 2 -->
    <!-- Autonomous exploration development environment -->
    <include file="$(find vehicle_simulator)/launch/develop_environment.launch" >
        <arg name="name_space" default="robot_2"/>
        <!-- Necessary to set initial goal point for local planner -->
        <!-- robot will not subscribe this command, so it is not important -->
        <arg name="vehicleX" default="0"/>
        <arg name="vehicleY" default="0"/>
    </include>

    <!-- far_planner -->
    <include file="$(find far_planner)/launch/far_planner.launch">
        <arg name="name_space" default="robot_2"/>
    </include>


    <!-- Robot 3 -->
    <!-- Autonomous exploration development environment -->
    <include file="$(find vehicle_simulator)/launch/develop_environment.launch" >
        <arg name="name_space" default="robot_3"/>
        <!-- Necessary to set initial goal point for local planner -->
        <!-- robot will not subscribe this command, so it is not important -->
        <arg name="vehicleX" default="0"/>
        <arg name="vehicleY" default="0"/>
    </include>

    <!-- far_planner -->
    <!-- <include file="$(find far_planner)/launch/far_planner.launch">
        <arg name="name_space" default="robot_3"/>
        <arg name="start_rviz" default="false"/>
    </include> -->


    <!-- Robot 4 -->
    <!-- Autonomous exploration development environment -->
    <include file="$(find vehicle_simulator)/launch/develop_environment.launch" >
        <arg name="name_space" default="robot_4"/>
        <!-- Necessary to set initial goal point for local planner -->
        <!-- robot will not subscribe this command, so it is not important -->
        <arg name="vehicleX" default="0"/>
        <arg name="vehicleY" default="0"/>
    </include>

    <!-- far_planner -->
    <!-- <include file="$(find far_planner)/launch/far_planner.launch">
        <arg name="name_space" default="robot_4"/>
        <arg name="start_rviz" default="false"/>
    </include> -->

    <!-- Robot 5 -->
    <!-- Autonomous exploration development environment -->
    <include file="$(find vehicle_simulator)/launch/develop_environment.launch" >
        <arg name="name_space" default="robot_5"/>
        <!-- Necessary to set initial goal point for local planner -->
        <!-- robot will not subscribe this command, so it is not important -->
        <arg name="vehicleX" default="0"/>
        <arg name="vehicleY" default="0"/>
    </include>

    <!-- far_planner -->
    <!-- <include file="$(find far_planner)/launch/far_planner.launch">
        <arg name="name_space" default="robot_5"/>
        <arg name="start_rviz" default="false"/>
    </include> -->

    <!-- Robot 6 -->
    <!-- Autonomous exploration development environment -->
    <include file="$(find vehicle_simulator)/launch/develop_environment.launch" >
        <arg name="name_space" default="robot_6"/>
        <!-- Necessary to set initial goal point for local planner -->
        <!-- robot will not subscribe this command, so it is not important -->
        <arg name="vehicleX" default="0"/>
        <arg name="vehicleY" default="0"/>
    </include>

    <!-- far_planner -->
    <!-- <include file="$(find far_planner)/launch/far_planner.launch">
        <arg name="name_space" default="robot_6"/>
        <arg name="start_rviz" default="false"/>
    </include> -->


    <!-- TF publisher to bridge map and odom -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_pub_map_to_odom" args="0 0 0 0 0 0 map odom" />
</launch>