<launch>
    <param name="robot_number" value="2"/>

    <include file="$(find p2os_urdf)/launch/run_two.launch" >
        <arg name="world_name" default="larger_garage"/>
    </include>

    <group ns="robot_1">
        <node pkg="vehicle_simulator" type="filter_velodyne_points" name="filter_velodyne_points" >
            <param name="name_space" value="robot_1"/>
        </node>
    </group>

    <group ns="robot_2">
        <node pkg="vehicle_simulator" type="filter_velodyne_points" name="filter_velodyne_points" >
            <param name="name_space" value="robot_2"/>
        </node>
    </group>
    

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vehicle_simulator)/rviz/test_filter.rviz"/>

</launch>