<robot name="my_sensors" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:include filename="VLP-16.urdf.xacro"/>
    <xacro:VLP-16 parent="support" name="velodyne" topic="velodyne_points" hz="5" samples="350" min_range="0.1" organize_cloud="true">
      <!-- 0.15+0.025 -->
      <origin xyz="0 0 0.15" rpy="0 0 0" />
    </xacro:VLP-16>

</robot>
  