<launch>
    <arg name="world_name" default="indoor"/>
    <!-- campus, forest, garage, indoor, tunnel -->

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>

    <arg name="robot_namespace" default="robot1"/>


    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="gui" value="true" />
        <arg name="use_sim_time" value="true"/>
        <arg name="world_name" value="$(find p2os_urdf)/world/$(arg world_name).world"/>
    </include>


    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find p2os_urdf)/defs/pioneer3at.xacro" />

    <!-- 向rviz发布机器人link和model state中的tf变换 -->
    <!-- 关节以及机器人状态发布节点 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model"  args="-urdf -model robot1 -param robot_description"  />

</launch>
